<div class="content">
    <section>
        <div class="container p-3">
            <h3>Job Seeker Management</h3>
            <table class="table" id="jobtable">
                <thead>
                    <tr>
                        <th scope="col">Jobseeker Name</th>
                        <th scope="col">Jobseeker Email ID</th>
                        <th scope="col">Jobseeker Mobile</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each jobseekers}}
                    <tr>
                        <th scope="row">{{this.fullName}}</th>
                        <td>{{this.userEmail}}</td>
                        <td>{{this.userMobile}}</td>
                        <td>
                            <a href="unblockJobseeker/{{this.fullName}}"class="btn btn-danger"
                            onclick="return confirm('Are you sure to UnBlock this Job Seeker : {{this.fullName}}')">UnBlock</a>
                            <a href="deleteJobseeker/{{this.fullName}}"class="btn btn-danger"
                            onclick="return confirm('Are you sure to Delete this Job Seeker : {{this.fullName}} ')">Delete</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
        </div>
    </section>
</div>