<div class="content">
    <section>
        <div class="container">
            <h3>In Dashboard Employers can view the details of job seekers to job details
            </h3>
            <table class="table" id="jobtable">
                <thead>
                    <tr>
                        <th scope="col">JobSeeker Name</th>
                        <th scope="col">Carrier Level</th>
                        <th scope="col">Current Position</th>
                        <th scope="col">Current Company</th>
                        <th scope="col">Salary Expectation</th>
                        <th scope="col">View CV</th>
                        <th scope="col">Applied Job Details</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each jobseekerAppliedJobs}}
                    <tr>
                        <th scope="row">{{this.fullName}}</th>
                        <td>{{this.careerLevel}}</td>
                        <td>{{this.currentPosition}}</td>
                        <td>{{this.CurrentCompany}}</td>
                        <td>{{this.salaryExpectation}}</td>
                        <td><a href="/employers/viewCV/{{this._id}}" class="btn btn-primary"><b>View CV</b></a></td>
                        <td><a href="/employers/viewAppliedJobs/{{this._id}}" class="btn btn-primary"><b>View Applied Jobs</b></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</div>