<section>
    <div class="container-fluid mt-5">
        {{#if info}}
            <b><h4 style="color:red; text-align: center">{{info}}</h4></b>
        {{/if}} <br>
        <div class="row justify-content-center align-items-center">
            {{#each Jobs}}
            <div class="col-md-3 col-xs-12 m-4 jobcard">
                <a href="/jobDetails/{{this._id}}">
                    <div class="card container" style="width: 20rem; height: 28rem; padding: 15px;">                    
                        <img class="card-img-top" src='images/{{this._id}}.jpg' alt="Emp image">
                        <div class="card-body">
                            <p class="card-title"><u> Job Title:</u> {{this.jobTitle}}</p>
                            <p class="card-text"><u> Company Name:</u> {{this.compName}}</p>
                            <p class="card-text"><u> Posted on:</u> {{this.date}}</p>
                            <p class="card-text"><u> Location:</u> {{this.compLocation}}</p>
                            <p class="card-text"><u> Skills:</u> {{this.skills}}</p>
                            <p class="card-text"><u> Description:</u> {{this.desc}}</p><br>
                            
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</section>