<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Portal</title>
  <script type="text/javascript">
    function display_c() {
      var refresh = 1000; // Refresh rate in milli seconds
      mytime = setTimeout('display_ct()', refresh)
    }
    function display_ct() {
      var x = new Date()
      document.getElementById('ct').innerHTML = x;
      tt = display_c();
    }
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/userstyle.css" type="text/css">
  <nav class="navbar navbar-expand-lg #0384fc navbar-dark">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/Dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/findJob">Find Job</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/employers"><button class="btn btn-primary">Post a Job</button></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/login"><button class="btn btn-secondary">Login / Sign Up</button></a>
      </li>
    </ul>
  </nav>
  <body onload=display_ct(); style="color: white">
      <span id='ct'></span>
    </body>
</head>

<body>
  <section>
    <div class="container-fluid mt-5 ml-5 pl-5 col-12">
      <div class="row">
        {{#each Jobs}}
        <div class="col-md-3 col-xs-12 m-4">
          <a href="/login">
            <div class="card" style="width: 20rem; height: 30rem">
              <img class="card-img-top" src='images/{{this._id}}.jpg' alt="Emp image">
              <div class="card-body">
                <p class="card-title"><u> Job Title:</u> {{this.jobTitle}}</p>
                <p class="card-text"><u> Company Name:</u> {{this.compName}}</p>
                <p class="card-text"><u> Posted on:</u> {{this.date}}</p>
                <p class="card-text"><u> Location:</u> {{this.compLocation}}</p>
                <p class="card-text"><u> Skills:</u> {{this.skills}}</p>
                <p class="card-text"><u> Description:</u> {{this.desc}}</p><br><br>
                <button onclick="" class="btn btn-primary">Apply for this Job</button>
              </div>
            </div>
          </a>
        </div>

        {{/each}}
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script>
    $(function () {
      $('.example-popover').popover({
        container: 'button'
      })
    })
  </script>
</body>
</html>