<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    {{!--
    <script type="text/javascript">
        function display_c() {
            var refresh = 1000; // Refresh rate in milli seconds
            mytime = setTimeout('display_ct()', refresh)
        }
        function display_ct() {
            var x = new Date()
            document.getElementById('ct').innerHTML = x;
            tt = display_c();
        }
    </script> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/userstyle.css" type="text/css">
    <nav class="navbar navbar-expand-md #0384fc navbar-dark">
        <button class="navbar-toggler ml-auto " type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/findJob">Find Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Dashboard">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/employers"><button class="btn btn-primary">Post a
                            Job</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="/login"><button class="btn btn-secondary">Login / Sign
                            Up</button></a>
                </li>
            </ul>
        </div>
    </nav>

    {{!--

<body onload=display_ct(); style="color: white">
    <span id='ct'></span>
</body> --}}
</head>

<body>
    <section>
        <div class="container-fluid mt-5">
            <div class="row col-12 justify-content-center align-items-center">
                <a href="/jobDetails/{{job._id}}">
                    <div class="prejobDetails jobcard" style="font-size: 20px;padding: 5px">
                        <img class="card-img-top" src='/images/{{job._id}}.jpg' alt="Job image">
                        <div class="card-body" style="color: black">
                            <p class="card-title">Job Title:<b> {{job.jobTitle}} </b></p>
                            <p class="card-text">Company Name:<b> {{job.compName}}</b></p>
                            <p class="card-text">Schedule:<b> {{job.timeSchedule}}</b></p>
                            <p class="card-text">Posted on:<b> {{job.date}} </b></p>
                            <p class="card-text">Location:<b> {{job.compLocation}}</b></p>
                            <p class="card-text">Skills:<b> {{job.skills}}</b></p>
                            <p class="card-text">Experience:<b> {{job.exp}}</b></p>
                            <p class="card-text">Qualification:<b> {{job.qualification}}</b></p>
                            <p class="card-text">Description:<b> {{job.desc}}</b></p><br>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
<style>
    .nav-item {
        margin-left: auto;
    }
</style>

</html>